<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>T&P MAIT</title>
    <link rel="icon" href="../images/mait-logo.png">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
        body {
            background: #f5f5f5;
        }

        .form {
            background: #fff;
            padding: 20px;
            display: block;
            margin: 0 auto;
            border-radius: 5px;
            box-shadow: 1px 0px 2px black;
        }

        .error-bird {
            position: relative;
            left: 50%;
            left: 50%;
            margin-left: -150px;
        }

        .e404 {
            text-align: center;
            font-size: 30px;
            font-family: 'Anton', sans-serif;
        }
    </style>
</head>
<body>
    {{{body}}}
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script>
    $(function(){
//        $('.verify-form').submit(function(e){
//            e.preventDefault();
//            $.post('/verify/submit',{code:$('#secret-code').val()},function(response){
//                if(typeof response === "object"){
//                    $('.verify-form').prepend('<div class="alert alert-danger" role="alert">'+
//                            response[0]+
//                            '</div>')
//                }
//
////                else {
////                    alert(response);
////                    window.location.href = '/';
////                }
//
//            });
//        })

        console.log($('#logo').attr('src'));
    });
</script>
</body>
</html>